@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-bold';
    src: url('../fonts/Ubuntu-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../fonts/Ubuntu-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/Ubuntu-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
